
* {
  box-sizing: border-box;
}

body {
}

header {
   background-color: yellow;i
   display: block;
   position: fixed;
   top: 0;
   width: 100%;
   height: 4rem;
}

#nav-menu {
  background-color: red;
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin: 0; 
}

#nav-menu ul {
  
}
#nav-menu li {
  background-color: lime;
  display: inline-block;
}

section {
 /* This is temporary */
  height: 400px;
}

#whoami {
  margin-top: 4rem;
}


.odd {
  background-color: gray;
}

.even {
  background-color: lightgray;
}
