
* {
  box-sizing: border-box;i
}

.TEMP-hidden {
  display: none;
}

body {
  font-family: 'Roboto Slab', serif;
}

header {
   font-weight: 300;
   background-color: yellow;
   display: block;
   position: fixed;
   top: 0;
   width: 100%;
   height: 4rem;
   font-size: 3rem;
   z-index: 2;
   padding-bottom: 10px;
}

#nav-menu {
  font-size: 1rem;
  background-color: rgba(200,0,0,0);
  display: block;
  width: 100%;
  text-align: right;
  position: absolute;
  bottom: 0;
  margin: 0; 
}

#nav-menu ul {
  
}
#nav-menu li {
  background-color: lime;
  display: inline-block;
}


section {
 /* This is temporary */
  height: 800px;
}

table {
  background-color: wheat;
  width: 100%;
  height: 800px;
}

.contrast {
  background-color: lime;
}

table 
section span {
  width: 20%;
  background-color: forestgreen;
  height: 600px;
  position: absolute;
  margin-top: 100px;
}

.right-arrow {
  right: 0;
}

section .slide-tile {
  background-color: tomato;
  display: block;
  width: 60%;
  margin-left: 20%;
  position: absolute;
  height: 600px;
  margin-top: 100px;
}

.thumbs {
  float: right;
  margin-right: 5%;
  position: absolute;
}

.thumbs li {
  display: block;
  width: 100px;
  height: 100px;
  background-color: violet;
  right: 0;
}
#whoami {
  margin-top: 4rem;
}


.odd {
  background-color: gray;
}

.even {
  background-color: lightgray;
}
