/*  Medium Screen */

@media screen and (max-width: 900px) {

  header {
    background-color: pink;
    height: 6rem;
  }
}



/*  Small Screen */

@media screen and (max-width: 600px) {
  
  header {
    background-color: red;
  }

/* hide sidebars */
  .left-arrow, .right-arrow {
    display: none;
  }
}
