
/*****************
/  Small Screen  /
/****************/

header {
  height: 10rem:
  font-size: 1rem;
}

#title-bar {
  text-align: center;
  height: 100%;
}
 
.nav-menu {
  text-align: center;   
  padding: 0;
}

.slide-control {
  text-align: center;
}


/* hide sidebars */

.left-arrow, .right-arrow {
  display: none;
}


#whoami {
  background: linear-gradient(to right, transparent, white 100%),
    url('../assets/3_1.jpg') no-repeat;
  background-size: auto 100%; 
}

#experience {
  background: linear-gradient(to left, transparent, white 100%),
    url('../assets/5_1.jpg') top right no-repeat;
  background-size: auto 100%; 
}

#portfolio {
  background: linear-gradient(to right, transparent, white 100%),
    url('../assets/2_1.jpg') no-repeat;
  background-size: auto 100%; 
}

#education {
  background: linear-gradient(to left, transparent, white 100%),
    url('../assets/6_1.jpg') top right no-repeat;
  background-size: auto 100%; 
}

#clean-code {
  background:  linear-gradient(to right, transparent, white 100%),
    url('../assets/4_1.jpg') no-repeat;
  background-size: auto 100%; 
}

/******************
/ Medium  Screen  /
/*****************/

/* No change for now! */


/******************
/ Desktop Screen  /
/*****************/

@media screen and (min-width: 900px) {
  .left-arrow {
    display: block;
  }
 
  .right-arrow {
    display: block;
  } 

  #title-bar {
    float: left;
  }
 
  .nav-menu {
    text-align: right;
    position: absolute;
    bottom: 0;
  }


#whoami {
  background: linear-gradient(to right, transparent, white 100%),
    url('../assets/3_1.jpg') no-repeat;
  background-size: 50%;
}

#experience {
  background: linear-gradient(to left, transparent, white 100%),
    url('../assets/5_1.jpg') top right no-repeat;
  background-size: 50%;
}

#portfolio {
  background: linear-gradient(to right, transparent, white 100%),
    url('../assets/2_1.jpg') no-repeat;
  background-size: 50%;
}

#education {
  background: linear-gradient(to left, transparent, white 100%),
    url('../assets/6_1.jpg') top right no-repeat;
  background-size: 50%;
}

#clean-code {
  background:  linear-gradient(to right, transparent, white 100%),
    url('../assets/4_1.jpg') no-repeat;
  background-size: 50%;
}
}


