
/* Colors */

// descriptive names

$darkgrey: slategrey;
$boldgreen: #69d307;
$dullgreen: #447766;
$white: #fff;

// semantic names

$menu-background-color: $darkgrey;
$link-color: $boldgreen;
$visited-link-color: $dullgreen;
$header-text-color: $darkgrey;
$menu-text-color: $white;
$menu-text-hover-color: $boldgreen;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-attachment: fixed;
}

a {
  color: $link-color;
}

a:visited {
  color: $visited-link-color;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  background-color: $menu-background-color;
  color: $menu-text-color;
}

li:hover {
  color: $menu-text-hover-color;
}

.project-picture {
  width: 40%;
}

.slide-tile img {
  width: 100%;
  float: left;
}
.TEMP-hidden {
  display: none;
}

.br-clear {
  clear: both;
}


.sig {
  height: 200px;
  margin-left: 50px;
}

.greeting {
  color: $header-text-color;
  font-weight: bold;
  font-size: 4.5rem;
  display: block;
  margin-top: 10px;
}

#g2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-left: 20px;
  margin-bottom: 40px;
}


/*********************************
* Header
*********************************/

header {
  font-weight: 300;
  background-color: $menu-background-color;
  color: $white;
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.nav-menu {
  font-size: 1rem;
  display: block;
  width: 100%;
  bottom: 0;
  margin: 0;
}

/******************************
*  Main content area
******************************/

table {
  width: 100%;
}



table td {
  background-color: rgba(0,0,0,0);
}


.spacer {
  background-color: rgba(0,0,0,0);
  color: $header-text-color;
}

.slide-tile-container {
  height: 80%;
}

#whoami .slide-tile-container {
  float: right;
}

.left-arrow {
  width: 10%;
}

.right-arrow {
  width: 10%;
  right: 0;
}

.slide-tile {
  opacity: 1;
  background-color: rgba(0,0,0,0);
  position: relative;
  top: 0;
}

.spacer h1 {
  font-size: 3rem;
  font-weight: normal;
  padding-top: 10px;
}

.odd .slide-tile ul {
  clear: both;
  list-style: none;
  margin-right: 5%;
}

.slide-control {
	text-align: center;
	clear: both;
	bottom: 0;
}

#whoami {
  margin-top: 4rem;
}


